/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/*Decided to use a minor second scale for this one.*/

/* ===== BASE STYLES ===== */

html {
  font-size: 1em; /* 16px */
  line-height: 1.25em; /* 20 / 16 = 1.25em */
  font-family: Calibri, Helvetica; 
  background-color: #f9f2ec;
  padding-left: 0.5em; /* 8 / 16  */
  padding-right: 0.5em; /* 8 / 16 */
  }
  
 h1 {
   font-size: 1.7925625em; /* 28.681px */
   line-height: 1.04598863em;  /* 30 / 28.681 =  1.04598863em */
 }
 
 h2 { 
  font-size: 1.383em; /* 22.128px */
  line-height: 1.129790em; /* 25 / 22.128 = 1.129790em */
 }
 
 h3 {
   font-size: 1.296em; /* 20.739px */
   line-height: 1.10902em; /* 23 / 20.739 = 1.10902em */
 }
 
 h4, i {  
   font-size: 1.067em; /* 17.072px */
   line-height: 1.1129em; /* 19 / 17.072 = 1.1129em */
   font-style: italic;
 }
 
 ul {
   padding-left: 1.176em; /* 20px */
 }
 
nav ul {
  font-size: 1.296em;
  line-height: 1.10902em;
  width: 100%;
  list-style-type: none;
  text-align: center;
}

nav ul li {
  text-align:center;
  display: inline-block; 
  background-color: #dab08b;

}

nav ul li a {
  display: block;
  font-family: Calibri, Helvetica;
  color: black; 
  text-align: center;
  text-decoration: none;
  border: 0.125em solid black;
}
 
 /* ===== MODULAR STYLES ===== */
 
 .content li {
  list-style-type: disc;
}

 .exception li {
  list-style-type: none;
}
  .header ul{
     padding-left: 0; 
  } 
 
.title h1 {
  text-align: center;
}
  
.homeMain {
  text-align: center;
}
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 2.1875em; /* 35 px / 16 px */
  height: 0;  
  overflow: hidden;
}

.video-container iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

.center {
  text-align: center;
}

 /* ===== LAYOUT STYLES ===== */
 
 img, photo { 
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; 
 }
 
  /* ===== STATE STYLES ===== */
  
  @media screen and (min-width: 20em) {
  #copyright{
    text-align: center;
  }
 /* 
  #grad {
  position: absolute;
  width: 50%;
  }
  */
  } 
  /*
   @media screen and (min-width: 37.5em) { 
   #video-container iframe {
    width: 50%;
    height: 50%;
   }
   }
  */
   @media screen and (min-width: 50em){
  #col2, #col4 {
    text-align: center;
  }
}
 /*
@media screen and (min-width: 800px) {
  #col1 {
    position: static;
    float: left;
    width: 50%;
    display: table;
  }
  #firstPic {
    padding-top: 30px; 
  }
  #lastPic {
    padding-bottom: 30px; 
    position: static;
  }

  #col2 {
    position: static;
    float: right;
    width: 50%;
    padding-bottom: 20 px;
    display: table;
  }

  #col3 {
    position: relative;
    float: left;
    height: 0;
    width: 50%;
    overflow: hidden;
    display: block;
    column-fill: auto;
    display: table;
  }
  

  #col4 {
    position: static;
    float: right;
    width: 50%;
    display: table;
  }
  #paragraphAdjust1 {
    padding-top: 50px;
    padding-bottom: 100px;
  }
  #paragraphAdjust2 {
    padding-top: 140px;
  }
  #footerAwards {
    text-align: right;
    padding-top: 100px;
    
  }
  */


