/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/*Decided to use a minor second scale for this one.*/

/* ===== BASE STYLES ===== */

html {
  font-size: 1em; /* 16px */
  line-height: 1.25em; /* 20 / 16 = 1.25em */
  font-family: Calibri; 
  background-color: #f9f2ec;
  padding-left: 15px; /* change to em  */
  padding-right: 8px;
  }
  
 h1 {
   font-size: 1.7925625em; /* 28.681px */
   line-height: 1.04598863em;  /* 30 / 28.681 =  1.04598863em */
 }
 
 h2 { 
  font-size: 1.383em; /* 22.128px */
  line-height: 1.129790em; /* 25 / 22.128 = 1.129790em */
 }
 
 h3 {
   font-size: 1.296em; /* 20.739px */
   line-height: 1.10902em; /* 23 / 20.739 = 1.10902em */
 }
 
 h4, i {  
   font-size: 1.067em; /* 17.072px */
   line-height: 1.1129em; /* 19 / 17.072 = 1.1129em */
   font-style: italic;
 }
 
 ul {
   padding-left: 1.176em; /* 20px */
 }
 

 
 
 /* ===== MODULAR STYLES ===== */
 
 .content li {
  list-style-type: disc;
}

 
 .exception li {
  list-style-type: none;
}
  .header ul {
     padding-left: 0px; /* will fix later */
  }

 /* ===== LAYOUT STYLES ===== */
 
 img { /* add different image tag for home page */
  display: block; 
	max-width: 50%;
  margin-left: auto;
  margin-right: auto;
 }