/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/*Decided to use a minor second scale for this one.*/

/* begin normalize.css form styles */
/* https://github.com/necolas/normalize.css */


/* Forms */

/**
* 1. Change the font styles in all browsers (opinionated).
* 2. Remove the margin in Firefox and Safari.
*/

button,
input,
optgroup,
select,
textarea {
font-family: Arial, Helvetica Neue, Helvetica, sans-serif; /* 1 */
font-size: 1em; /* 16px */
line-height: 1.25em; /* 20 / 16 */
margin: 0; /* 2 */
}

/**
* Show the overflow in IE.
* 1. Show the overflow in Edge.
*/

button,
input { /* 1 */
overflow: visible;
}

/**
* Remove the inheritance of text transform in Edge, Firefox, and IE.
* 1. Remove the inheritance of text transform in Firefox.
*/

button,
select { /* 1 */
text-transform: none;
}

/**
* 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
*    controls in Android 4.
* 2. Correct the inability to style clickable types in iOS and Safari.
*/

button,
html [type="button"], /* 1 */
[type="reset"],
[type="submit"] {
-webkit-appearance: button; /* 2 */
}

/**
* Remove the inner border and padding in Firefox.
*/

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
border-style: none;
padding: 0;
}

/**
* Restore the focus styles unset by the previous rule.
*/

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
outline: 1px dotted ButtonText;
}

/**
* Change the border, margin, and padding in all browsers (opinionated).
*/

fieldset {
border: 1px solid #c0c0c0;
margin: 0 2px;
padding: 0.35em 0.625em 0.75em;
}

/**
* 1. Correct the text wrapping in Edge and IE.
* 2. Correct the color inheritance from `fieldset` elements in IE.
* 3. Remove the padding so developers are not caught out when they zero out
*    `fieldset` elements in all browsers.
*/

legend {
box-sizing: border-box; /* 1 */
color: inherit; /* 2 */
display: table; /* 1 */
max-width: 100%; /* 1 */
padding: 0; /* 3 */
white-space: normal; /* 1 */
}

/**
* 1. Add the correct display in IE 9-.
* 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
*/

progress {
display: inline-block; /* 1 */
vertical-align: baseline; /* 2 */
}

/**
* Remove the default vertical scrollbar in IE.
*/

textarea {
overflow: auto;
}

/**
* 1. Add the correct box sizing in IE 10-.
* 2. Remove the padding in IE 10-.
*/

[type="checkbox"],
[type="radio"] {
box-sizing: border-box; /* 1 */
padding: 0; /* 2 */
}

/**
* Correct the cursor style of increment and decrement buttons in Chrome.
*/

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
height: auto;
}

/**
* 1. Correct the odd appearance in Chrome and Safari.
* 2. Correct the outline style in Safari.
*/

[type="search"] {
-webkit-appearance: textfield; /* 1 */
outline-offset: -2px; /* 2 */
}

/**
* Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
*/

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
-webkit-appearance: none;
}

/**
* 1. Correct the inability to style clickable types in iOS and Safari.
* 2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
-webkit-appearance: button; /* 1 */
font: inherit; /* 2 */
}

/* end normalize.css form styles */


/* ===== BASE STYLES ===== */

@font-face {
  font-family: 'Agency FB';
  src: url("fonts/agency-fb-woff.woff") format("woff"), /* Modern Browsers */
       url("fonts/agency-fb-ttf.ttf") format("truetype"); /* Mobile */
}

html {
  font-size: 1em; /* 16px */
  line-height: 1.25em; /* 20 / 16 = 1.25em */
  font-family: 'Agency FB', Calibri, Helvetica;
  color: white;
  background-color: #000000;
  padding: 0.5em; /* 8 / 16  */

  }

  h1 {
    font-size: 1.913em; /* ~30px */
    line-height: 1.03333em;  /* 31 / 30 =  1.03333em */
    padding-bottom: 0.1em;
  }

   h2 {
    font-size: 1.7925625em; /* 28.681px */
    line-height: 1.04598863em;  /* 30 / 28.681 =  1.04598863em */
    padding-bottom: 0.2em;

   }

   h3 {
     font-size: 1.383em; /* 22.128px */
     line-height: 1.129790em; /* 25 / 22.128 = 1.129790em */
     padding-top: 0.1em;
     padding-bottom: inherit;
   }

   h4, i {
     font-size: 1.296em; /* 20.739px */
     line-height: 1.10902em; /* 23 / 20.739 = 1.10902em */
     font-style: italic;
     text-align: center;
     padding: 0.5em;
   }

   ul {
     padding-left: 1.176em; /* 20px */
   }

   footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 30px;
    width: 100%;
    padding: 1em;
    text-align: center;
    clear: both;
  }

/* Navigation Bar Styling */

nav ul {
  font-size: 1.575em; /* ~25px */
  line-height: 1.04em; /* 26 / 25 = 1.04em */
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

nav ul li {
  display: flex;
  align-items: flex-start;
  padding: 0.5em;
  color: white;
  text-decoration: none;
}

a:link, a:visited {
  color: white;
  text-decoration: none;
}

a:hover {
    color: #0C6E86;
}

.workNav, .aboutNav {
  display: flex;
  flex-wrap: nowrap;
}

 /* ===== Form Styling ===== */

 form {
   padding: 0 2em;
   background: no-repeat center/175% url("../contact/pictures/binary.PNG");
   margin: 1em 0;
   text-align: center;
 }

 label {
   /* this styles the text */

 }

 input {
   background: black;

 }

 input[name="name"] {
   margin: 1em 0;
 }

 input[name="mail"] {
   margin-bottom: 0.5em;
 }

 input[name="message"] {
   padding: 2em;
   margin: 0.5em 0;
 }

 input[type="submit"] {
   color: white;
   font-family: inherit;
   background-color: grey;
   margin-left: auto;
   margin-right: auto;
   text-align: center;
 }

 /* ===== MODULAR STYLES ===== */

/* Navigation Bar */

.header ul{
  padding-left: 0;
}

/* Style All Pages Same Way  */

.homeText, .contactText, .workText {
  text-align: center;
}

/* About page  */

.homePic, .homeText, .workText {
  padding-left: 20%;
  padding-right: 20%;
}

/* Resume Page */

 .resumelinks {
   font-size: 1.5em; /* 24px */
   line-height: 4.5em; /* Purposely large to separate links */
   text-align: center;
   padding-top: 5em;
   padding-bottom: 5em;
   background: no-repeat center/100% url("../pictures/resumeBG.jpg");

}

.resumelinks a:link, a:visited {
  color: white;
  text-decoration: none;
}

.resumelinks a:hover {
    color: #7EEEFB;
}

/* Work Page */


.title h1{
  text-align: center;
}

.center{
  text-align: center;
}

/* Contact Page */

.socialmedia {
  display: inline-flex;
  position: relative;
  margin-top: 10%;
  left: 50%;
  top: 25%;
  transform: translate(-50%, -50%);
  max-width: 50%;
}

.socialmedia a {
  padding: 10;
}

/* Metasploitable page  */

.mFooter, .wFooter {
  position: relative;
  clear: both;
  padding: 1em;
}

 /* ===== LAYOUT STYLES ===== */

 img, photo {
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
 }

  /* ===== STATE STYLES ===== */

  @media screen and (min-width: 20em) {
  #copyright{
    text-align: center;
  }

  .resumePage {
  background-position: -10em 5em;
  }
}

  @media screen and (min-width: 37.5em) {
  #align {
    padding-left: 10%;
    padding-right: 10%;
  }
  #left {
    text-align: center;
  }

   input {
    text-align: left;
  }

}

   @media screen and (min-width: 50em){
  #align {
    text-align: center;
  }

  .socialmedia {
    position: relative;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    max-width: 30%;
  }

  /* ===== Metasploitable Page ===== */

  .metasploit {
    padding-left: 10em;
    padding-right: 10em;
  }

  html {
    line-height: 1.5em;
  }

  form {
    padding-right: 40%;
    padding-left: 10%;
  }
}

  /* ===== State Styles ===== */

   @media screen and (min-width: 48em){
     .wFooter {
       position: fixed;
       left: 0px;
       bottom: 0px;
       height: 30px;
       width: 100%;
       padding: 1em;
       text-align: center;
       clear: both;
     }

     form {
       padding-right: 40%;
       padding-left: 15%;
     }



   }

   @media screen and (min-width: 80em){
     .metasploit {
       padding-left: 18em;
       padding-right: 18em;
     }

     .socialmedia {
       position: relative;
       transform: translate(-110%, -110%);
       margin-left: 10%;
       margin-right: 10%;
       max-width: 18%;
     }

     html {
       font-size: 1.5em; /* 24px */
       line-height: 1.5em;
     }

     form {
       padding-right: 40%;
       padding-left: 15%;
     }

   }
   @media screen and (min-width: 114em){
           html {
  font-size: 1.5em; /* 24px */
     }

     form {
       padding-right: 50%;
       padding-left: 25%;
     }
}
