/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/*Decided to use a minor second scale for this one.*/

/* ===== BASE STYLES ===== */

html {
  font-size: 1em; /* 16px */
  line-height: 1.25em; /* 20 / 16 = 1.25em */
  font-family: Agency FB, Calibri, Helvetica;
  color: white;
  background-color: #000000;
  padding: 0.5em; /* 8 / 16  */

  }

 h1 {
   font-size: 1.7925625em; /* 28.681px */
   line-height: 1.04598863em;  /* 30 / 28.681 =  1.04598863em */
   padding-bottom: 0.1em;
 }

 h2 {
  font-size: 1.383em; /* 22.128px */
  line-height: 1.129790em; /* 25 / 22.128 = 1.129790em */
  padding-bottom: 0.2em;

 }

 h3 {
   font-size: 1.296em; /* 20.739px */
   line-height: 1.10902em; /* 23 / 20.739 = 1.10902em */
   padding-top: 0.1em;
   padding-bottom: inherit;
 }

 h4, i {
   font-size: 1.067em; /* 17.072px */
   line-height: 1.1129em; /* 19 / 17.072 = 1.1129em */
   font-style: italic;
   text-align: center;
   padding: 0.5em;
 }

 ul {
   padding-left: 1.176em; /* 20px */
 }

 footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 30px;
  width: 100%;
  padding: 1em;
  text-align: center;
  clear: both;
}

/* Navigation Bar Styling */

nav ul {
  font-size: 1.296em;
  line-height: 1.10902em;
  width: 100%;
  margin: 5;
  padding: 1em;
  list-style-type: none;
  text-align: center;
  word-spacing: 1.5em;
}

nav ul li {
  display: inline-flex;
/* STOPPED HERE - MID - FLEX Prep */
  color: white;
  text-decoration: none;
}

a:link, a:visited {
  color: white;
  text-decoration: none;
}

a:hover {
    color: #0C6E86;
}

 /* ===== MODULAR STYLES ===== */

/* Navigation Bar */

.header ul{
  padding-left: 0;
}

/* Style All Pages Same Way  */

.homeText, .contactText, .workText {
  text-align: center;
}

/* About page  */

.homePic, .homeText, .workText {
  padding-left: 20%;
  padding-right: 20%;
}

/* Resume Page */

 .resumelinks {
   font-size: 1.5em; /* 24px */
   line-height: 4.5em; /* Purposely large to separate links */
   text-align: center;
   padding-top: 5em;
   padding-bottom: 5em;
   background: center/100% url("../pictures/resumeBG.jpg");

}

.resumelinks a:link, a:visited {
  color: white;
  text-decoration: none;
}

.resumelinks a:hover {
    color: #7EEEFB;
}

/* Award Page */

.title h1{
  text-align: center;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 2.1875em; /* 35 px / 16 px */
  height: 0;
  overflow: hidden;
}

.video-container iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

.center{
  text-align: center;
}

/* Contact Page */

.socialmedia {
  display: inline-flex;
  position: absolute;
  left: 50%;
  top: 25%;
  transform: translate(-50%, -50%);
  max-width: 25%;
}

.socialmedia a {
  padding: 5;
}

/* Metasploitable page  */

.mFooter {
  position: relative;
  clear: both;
  padding: 1em;
}


 /* ===== LAYOUT STYLES ===== */

 img, photo {
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0.5em;
 }

  /* ===== STATE STYLES ===== */

  @media screen and (min-width: 20em) {
  #copyright{
    text-align: center;
  }

  .resumePage {
  background-position: -10em 5em;
  }
}

  @media screen and (min-width: 37.5em) {
  #align {
    padding-left: 10%;
    padding-right: 10%;
  }
  #left {
    text-align: center;
  }
}

   @media screen and (min-width: 50em){
  #align {
    text-align: center;
  }

  .socialmedia {
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    max-width: 20%;
  }

  /* ===== Metasploitable Page ===== */

  .metasploit {
    padding-left: 10em;
    padding-right: 10em;
  }

  html {
    line-height: 1.5em;
  }
}
   @media screen and (min-width: 80em){
     .metasploit {
       padding-left: 18em;
       padding-right: 18em;
     }

     .socialmedia {
       position: absolute;
       left: 50%;
       top: 40%;
       transform: translate(-50%, -50%);
       max-width: 18%;
     }

     html {
       font-size: 1.5em; /* 24px */
       line-height: 1.5em;
     }
   }
   @media screen and (min-width: 114em){
           html {
  font-size: 1.5em; /* 24px */
     }
}
